@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Character</h1>
    <p><a href="/character/getthecharacter">Get Started</a></p>
    <p><a href="/character/pickcharacter">Test Link</a></p>
</div>
