@model House
@{
    ViewData["Title"] = "PickCharacter";
}

<h1>Pick A Character</h1>
<form method="post" action="/character/getthecharacter">
    <select name="id" id="id">
        @foreach (gotcharacter character in Model.characters)
        {
            <option value="@character.id">@character.Name</option>
        }
    </select>
    <input type="submit" value="Pick Character"  />
</form>