@model gotcharacter
@{
    ViewData["Title"] = "PickCharacter";
}

<h1>Pick A Character</h1>
<form method="post">
    <select name="character" id="character">
        <option value="Jon Snow">John</option>
        <option value="daenerys targaryen">Daenerys</option>
        <option value="Jaime Lannister">Jamie</option>
        <option value="Cersei Lannister">Cersei</option>
        <option value="Arya Stark">Arya</option>
    </select>
    <input type="submit" value="Pick Character" action="/character/getthecharacter" />
</form>